<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dados da pessoa</title>

</head>
<header th:replace="layout/modelo :: header"></header>

<body>

<h1>Dados da pessoa</h1>

<form action="/salvar" method="post" th:object="${pessoa}">
    <input type="hidden" name="id_pessoa" th:field="*{id_pessoa}"/><br>

    <label for="nome">Nome:</label>
    <input type="text" name="nome" th:field="*{nome}">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">[[#{NotEmpty.pessoa.nome}]]</span>

    <label for="sobrenome">Sobrenome:</label>
    <input type="text" name="sobrenome" th:field="*{sobrenome}">
    <span th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}">[[#{NotEmpty.pessoa.sobrenome}]]</span>

    <label for="email">Email:</label>
    <input type="email" name="email" th:field="*{email}">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">[[#{NotEmpty.pessoa.email}]]</span>

    <label for="telefone">Telefone:</label>
    <input type="tel" name="telefone" th:field="*{telefone}">
    <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">[[#{NotEmpty.pessoa.telefone}]]</span>

    <input type="submit" name="salvar" value="Salvar">
</form>

<a href="/">Voltar</a>
<footer th:replace="layout/modelo :: footer"></footer>

</body>

</html>